<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
</head>
<body>
<p><b>
    Welcome
    to Foxborn Sports</b></p>

<h1 align="center" style="color: blue">SpringBoot</h1>
<h2>SpringBoot</h2>
<h3>SpringBoot</h3>
<h4>SpringBoot</h4>

<!-- paste image-->
<img src="springboot.png" alt="SpringBoot image">


<!--bullet points -->
<br>
<br>
<ul>
    <li>Java</li>
    <li>Spring</li>
    <li>Developer</li>
</ul>
<!--external link -->
<a href="http://foxborn.com">Foxborn</a>

<!--web table,table, rows, data-->
<br>
<br>

<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td> ID</td>
    </tr>
    <tr>
        <td>Olessya</td>
        <td>Foxborn</td>
        <td> ID5</td>
    </tr>
</table>

<!--label for labeling inputs, <input type="text" for the user inputs, type password input hides from user -->
<br>
<br>
<label>Username:</label>
<input type="text" name="usernameTextBox" id="usernameBox">
<br>
<label>Password:</label>
<input type="password">
<br>
<label> Request description </label>
<textarea name="description"></textarea>


<!--Radiobuttons, value attribute is used in Java, Enum, and then to DB-->
<br>
<br>
<br>
<label>Wgats your gender?</label>
<input type="radio" name="gender" value="M">Male
<input type="radio" name="gender" value="F">Female
<input type="radio" name="gender" value="NA">Prefer not to answer

<!--checkbox-->
<br>
<br>
<br>
<label>Select preferred classes</label>
<input type="checkbox" name="course" value="bodypump">Bodypump
<input type="checkbox" name="course" value="bodyattack">BodyAttack
<input type="checkbox" name="course" value="hiit">HIIT

<!--dropdown-->
<br>
<br>
<br>
<label>Select program</label>
<select>
    <option value="US fitness">US Fitness</option>
    <option value="UK fitness">UK Fitness</option>
    <option value="AU fitness">AU Fitness</option>
    <option value="RU fitness">RU Fitness</option>
</select>

<!--use form to erform CRUD operations-->
<br>
<br>
<br>
<form action="#" method="get">
    Firstname: <input type="text" name="first-name">
    <br>
    Lastname : <input type="text" name="last-name">
    <br>
    <input type="button" value="submit">
</form>


<!-- div is division, and grouping, applying settings, markings -->
<div style="background-color: aqua">
<h3> Foxborn Courses </h3>
    <ul>
        <li>Group exercise </li>
        <li>Personal Training</li>
    </ul>
</div>


</body>
</html>








